<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CHENJIE APP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F544AC2E20A53CC70014C7E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F544AC4220A53CC80014C7E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F544AC4D20A53CC80014C7E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
